body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-container {
  width: 90%;
  max-width: 400px;
  min-width: 280px;
  height: 60vh;
  max-height: 500px;
  margin: 15% auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-top {
  padding: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #718a9b;
}

.profile-picture {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 50%;
  left: 50%;
  padding-top: 25px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
}

.text {
  /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15%;
    /*padding: 30px;*/
}

h1 {
  font-size: 25px;
  font-weight: 400;
}

h2 {
  font-size: 15px;
  font-weight: 400;
  margin: -2% 0 5% 0;
}

.headings {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

#github-logo {
    width: 100px;
}

#instagram-logo {
    width: 70px;
}

.social-links {
  /*text-align: center;
  margin-top: 10%;*/
}

button {
  margin-top: 15%;
  padding: 15px 20px;
  background-color: #718a9b;
  border-style: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
